# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilación y builds
# Usamos providers/* para que Git pueda procesar las excepciones (!)
providers/*
!providers/pelisplus.js
!providers/hackstore2.js
!providers/pelispanda.js
!providers/embed69.js
!providers/cuevana_gs.js
!providers/cinecalidad.js
!providers/lamovie.js

# Archivos de sistema
.DS_Store
Thumbs.db

# Temporales, pruebas y depuración
*.log
/tmp/
test_*.js
check-sites.js
*.html
*.webp
*.png

# Entorno
.env
.env.local
