# Ignorar TODO por defecto
/*

# Excepciones (Archivos que SÍ queremos en GitHub)
!manifest.json
!providers/
!providers/*.js
!README.md
!.gitignore
!.gitattributes

# Ignorar archivos de sistema y temporales (incluso si están en carpetas permitidas)
.DS_Store
Thumbs.db
*.log
/tmp/
NUVIO_GUIDE.md
*.md
*.md
